version: '3.8'

services:
  lowxy:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    volumes:
      - ./.env.local:/app/.env.local:ro
